*.o 
*.lo 
*.la 
*.al 
.libs 
*.so 
*.so.[0-9]* 
*.a 
*.pyc 
*.pyo 
__pycache__ 
*.rej 
*~ 
#*# 
.#* .
*.swp 
.DS_Store 
*.exe 
*.lib 
*.dll 
*.so 
*.a 
*.pdb
*.obj 
*.ilk 
*.exp 
*.log 
*.def 
*.tlog 
*.idb 
*.manifest
*.lastbuildstate 
*.apk 
*.ipch 
*.sdf 
*.suo 
*.opensdf 
*.Lib 
*.cache 
*.pch
*.unsuccessfulbuild
CompilerTask/Debug/Log/ErrorLog_2016-02-29
